@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
nav{
  position: absolute;
  top: 55px;
  right: 10px;
}
nav > button{
  padding: 5px;
  text-decoration: none;
}
a:link{
  text-decoration: none;
}
nav > button:hover{
  background-color: rgb(45, 2, 16);
}
img{
  width: 100px;
}
:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}
.login{
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.register{
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header> button{
  color: rgb(255, 245, 231);
  background-color: goldenrod;
  font-size: .5rem;
  font-family: var(--font-roboto);
  font-weight: 5px;
}
body {
  font-family: var(--font-roboto);
  /*background-color: rgb(223, 226, 234);*/
  background-color: rgb(243, 232, 233);
}
.header{
  top: 0;
  padding: 0;
  width: 100%;
  /* background-image: url("https://i.pinimg.com/564x/c5/4e/e8/c54ee8fc47e33ddb50a9b769e9308f3f.jpg"); */
/* background-image: url('https://i.pinimg.com/1200x/30/1e/eb/301eeb763dab7d34c678fe51d937f710.jpg'); */
background-image: url('https://www.pngitem.com/pimgs/m/511-5114971_floral-header-hd-png-download.png');
  background-repeat: repeat;
  filter: drop-shadow(2px 2px 3px black);
  background-size: 50%;
  background-position: 0%;
  background-origin: 0;
    position: relative;
    top: 0;
  }
  * {
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  .app {
    padding: 1px;
  }
h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: goldenrod;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}
input {
  flex: 2;
  border-color: whitesmoke;
  font-size: 1rem;
  font-family: var(--font-raleway);
  font-weight: 400;
  padding-right: 1rem;
  color: #A1A1A1;
  background: lightblue;
  row-gap: 10px;
}
span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: rgb(222, 222, 231);
}
p {
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  color:rgb(231, 202, 231);
}
.grid {
  position: relative;
  display: grid;
  grid-auto-flow: center;
 flex-direction: column;
 justify-content: center;
  width: 50vh;
  height: 55vh;
  margin-top: 150px;
  border: none;
  background-color: palevioletred;
filter: drop-shadow(4px 4px 10px black);
margin: 10px;
padding: 10px;
border-radius: 15px;}
button{
  box-shadow: 1px 2px 2px palevioletred;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(218, 165, 67);
  cursor: pointer;
  border-radius: 5px;
  font-style: var(--font-roboto);
}
button:hover{
    padding: 10px 20px;
    background-color: #08D9D6;
    color: #000;
}
.mainlogin {
  display: flex;
  /* background-image: url("../src/images/design.avif"); */
  background-position: fixed;
  width: 80%;
  height: 105%;
  margin-top: 5%;
  text-align: center;
  justify-content: center;
}
.main {
  display: flex;
  width: 80%;
  height: 105%;
  margin-top: 5%;
  text-align: center;
  justify-content: center;
}
h4 {
  color: darkblue;
  text-align: left;
  font-family: blue;
  font-size: 14pt;
  margin: 5px;
}
b{
  color: red;
}
ul{
  text-align: left;
  margin-left: 0;
  margin: 30px;
}
p{
  text-align: justify;
  margin: 20px;
}
.section{
  background-color: white;
  border-radius: 15px;
  width: 55%;
  height: auto;
  text-align: center;
  top: 0;
  margin-left: 22%;
  margin-top: 0;
  padding: 5px;
}
strong{
  text-align: justify;
}
.aside {
  background-color: white;
  border-radius: 15px;
  width: 30%;
  height: 55%;
  margin-left: 1%;
  display: block;
}
.mainhome {
  display: flex;
  background-color: white;
  width: 100%;
  text-align: center;
  color: white;
 height: 100%;
    text-align: center;
    justify-content: center;
}
.navhome {
  width: 25%;
  height: 100%;
  text-align: center;
  margin-right: 0.4%;
  padding-top: 5px;
  border: none;
  color: #000;
  background-color: rgb(243, 232, 233);
}
.landingimg{
  width: 90%;
  height: 40vh;
  text-align: center;
  border-radius: 10px;
}
.sectionhome{
  width: 50%;
  background-color: rgb(243, 232, 233);
  height: 100%;
  text-align: center;
  padding-top: 0px;
  border: solid;
}
.asidehome {
  background-color: rgb(243, 232, 233);
  width: 25%;
  color: #000;
  height: 100%;
  margin-left: 0.4%;
  padding-top: 50px;
  border: none;
}